* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  background-color: #f8f8f8;
  width: 1500px;
  margin: 0 auto;
}
.header {
  background-color: #abeafa;
  width: 100%;
  height: 700px;
  position: relative;
}
.logo {
  width: 125px;
  height: 111px;
  position: absolute;
  top: 25px;
  left: 235px;
}
.welcome {
  background-color: #fff51f;
  width: 245px;
  height: 220px;
  position: absolute;
  top: 335px;
  left: 165px;
  padding-left: 25px;
  padding-top: 80px;
}
.welcome span {
  font-family: 'Raleway', sans-serif;
  color: #333333;
  font-size: 30px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 30px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.welcome p {
  padding-top: 25px;
  font-family: 'Raleway', sans-serif;
  color: #333333;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 14px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.JP {
  width: 320px;
  height: 169px;
  position: absolute;
  top: 245px;
  left: 913px;
}
.JP span {
  font-family: 'Raleway', sans-serif;
  color: #fff51f;
  font-size: 48px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 34px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.JP p {
  font-family: 'Raleway', sans-serif;
  color: #fff51f;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 24px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.buy {
  width: 125px;
  height: 50px;
  background-color: #fff51f;
  position: absolute;
  top: 475px;
  left: 915px;
}
.buy a {
  font-family: 'Roboto', sans-serif;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
  color: black;
  font-weight: 900;
  display: inline-block;
  width: 125px;
}
.buy a:hover {
  cursor: pointer;
}
.header_social {
  height: 16px;
  width: 120px;
  position: absolute;
  top: 50px;
  left: 950px;
}
.header_social a {
  display: block;
  width: 21px;
  height: 16px;
  float: left;
  background-image: url(img/sprite_soc_1.png);
}
.header_soc_img_1 {
  background-position: 2px -2px;
}
.header_soc_img_2 {
  background-position: -25px -2px;
}
.header_soc_img_3 {
  background-position: -48px -2px;
}
.header_soc_img_4 {
  background-position: -76px -2px;
}
.header_soc_img_5 {
  background-position: -103px -2px;
}
.wrapper {
  width: 1170px;
  margin: 0 auto;
}
.aside {
  background-color: #26d2fc;
  width: 270px;
  height: 475px;
  float: left;
  margin-top: -20px;
  position: relative;
}
.aside ul {
  margin: 0;
  padding: 0;
  width: 270px;
}
.aside ul li {
  width: 270px;
  list-style-type: none;
  text-align: left;
  color: #000000;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 900;
  line-height: 36px;
  /* Приближение из-за подстановки шрифтов */
}
.aside ul li:first-child {
  background-color: #333333;
  width: 230px;
  list-style-type: none;
  height: 66px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 75px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  padding-left: 40px;
}
.aside ul li a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  margin-left: 40px;
  color: black;
  font-weight: 900;
  display: inline-block;
  width: 270px;
}
.aside ul li a:visited {
  color: #333;
  text-decoration: none;
}
.aside ul li a:link {
  text-decoration: none;
  color: #333;
}
.aside ul li:hover {
  background-color: #333333;
  cursor: pointer;
}
.aside ul li:hover a {
  color: #ffffff;
  cursor: pointer;
}
.main {
  position: relative;
  background-color: #f8f8f8;
  width: 870px;
  float: right;
  margin-top: -20px;
  overflow: hidden;
}
.new_products {
  height: 724px;
  width: 100%;
}
.new_products_title {
  font-family: Roboto;
  color: #707070;
  font-size: 22px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 900;
  font-style: italic;
  text-align: left;
  display: inline-block;
  padding-top: 25px;
  padding-left: 30px;
  padding-bottom: 25px;
  float: left;
}
.top_products {
  height: 400px;
  width: 100%;
  clear: both;
}
.top_products_title {
  font-family: Roboto;
  color: #707070;
  font-size: 22px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 900;
  font-style: italic;
  text-align: left;
  display: inline-block;
  padding-top: 55px;
  padding-left: 30px;
  padding-bottom: 18px;
  float: left;
}
.sale_products {
  clear: both;
  height: 400px;
  width: 100%;
  padding-bottom: 50px;
}
.sale_products_title {
  font-family: Roboto;
  color: #707070;
  font-size: 22px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 900;
  font-style: italic;
  text-align: left;
  display: inline-block;
  padding-top: 55px;
  padding-left: 30px;
  padding-bottom: 18px;
  float: left;
}
.product {
  background-color: #ffffff;
  width: 250px;
  height: 300px;
  padding: 10px;
  margin-left: 30px;
  /* box-sizing: content-box; */
  position: relative;
  float: left;
}
.product_first {
  background-color: #ffffff;
  width: 250px;
  height: 300px;
  padding: 10px;
  margin-left: 0px;
  /* box-sizing: content-box; */
  position: relative;
  clear: both;
  float: left;
}
.product_photo {
  background-color: #eaeaea;
  width: 100%;
  height: 235px;
}
.triangle_new {
  display: block;
  width: 0px;
  height: 0px;
  position: absolute;
  border: 23px solid transparent;
  border-top: 23px solid red;
  border-right: 23px solid red;
  left: 224px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}
.triangle_new p {
  display: inline-block;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #ffffff;
  font-size: 9px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  text-align: left;
  position: absolute;
  left: -2px;
  top: -12px;
  right: 0px;
  bottom: 0px;
}
.triangle_hot {
  display: block;
  width: 0px;
  height: 0px;
  position: absolute;
  border: 23px solid transparent;
  border-top: 23px solid yellow;
  border-right: 23px solid yellow;
  left: 224px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}
.triangle_hot p {
  display: inline-block;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #000;
  font-size: 9px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  text-align: left;
  position: absolute;
  left: -2px;
  top: -12px;
  right: 0px;
  bottom: 0px;
}
.product_name {
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #333333;
  font-size: 14px;
  font-weight: 900;
  font-style: italic;
  line-height: 18.012px;
  text-align: left;
  margin-left: 16px;
  margin-top: 19px;
  display: inline-block;
}
.product_price {
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #333333;
  font-size: 18px;
  font-weight: 900;
  font-style: italic;
  line-height: 18.012px;
  text-align: left;
  margin-left: 16px;
  margin-top: 19px;
  display: inline-block;
}
.b_discount_price {
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #e24602;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 900;
  text-align: right;
  font-style: italic;
  margin-right: 25px;
  display: inline-block;
  float: right;
}
.banner {
  background-color: #e0e0e0;
  width: 270px;
  height: 300px;
  float: left;
  margin-top: 43px;
  position: relative;
}
.banner span {
  font-family: 'Raleway', sans-serif;
  color: #333333;
  font-size: 36px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 900;
  font-style: italic;
  line-height: 36px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  position: absolute;
  top: 140px;
  left: 130px;
}
.brand {
  clear: both;
  width: 100%;
  height: 160px;
  background-color: #ffffff;
}
.brand div {
  width: 195px;
  height: 160px;
  float: left;
  margin: 0 auto;
}
.brand div a {
  display: inline-block;
  width: 195px;
  height: 160px;
}
.product_img {
  width: 195px;
  height: 160px;
  margin: 0 auto;
}
.instagramm {
  width: 100%;
  height: 350px;
  background-color: #eaeaea;
}
.inst_text {
  width: 100%;
  height: 105px;
  position: relative;
}
.inst_logo {
  position: absolute;
  left: 450px;
  top: 50px;
  height: 28px;
}
.inst_text span {
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #333333;
  font-size: 22px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 900;
  font-style: italic;
  position: absolute;
  left: 485px;
  top: 52px;
  width: 300px;
  height: 25px;
}
.inst_text span p {
  font-family: Roboto;
  color: #333333;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 900;
  font-style: italic;
  text-align: left;
  display: inline-block;
  width: 100px;
  height: 22px;
}
.inst_fotos {
  width: 100%;
  height: 185px;
}
.inst_first_foto {
  width: 171px;
  height: 171px;
  float: left;
  background-color: #fff;
  padding: 7px;
}
.inst_other_foto {
  width: 171px;
  height: 171px;
  float: left;
  background-color: #fff;
  padding: 7px;
  margin-left: 12px;
}
.social_button {
  background-color: transparent;
  width: 100%;
  height: 150px;
}
.social_button div a {
  display: block;
  width: 390px;
  height: 150px;
}
.soc_but_facebook {
  background-color: #3b5997;
  width: 390px;
  height: 150px;
  float: left;
  position: relative;
}
.soc_but_twitter {
  background-color: #3fccfd;
  width: 390px;
  height: 150px;
  float: left;
  position: relative;
}
.soc_but_pinterest {
  background-color: #cb2027;
  width: 390px;
  height: 150px;
  overflow: hidden;
  position: relative;
}
.soc_but_img {
  width: 65px;
  height: 65px;
  overflow: hidden;
  text-align: center;
  position: absolute;
  top: 42px;
  left: 162px;
  bottom: 0px;
  right: 0px;
}
.soc_but_facebook img {
  width: 30px;
  height: 62px;
  position: absolute;
  top: 42px;
  left: 182px;
}
.soc_but_twitter img {
  width: 62px;
  height: 52px;
}
.fotter {
  background-color: #373737;
  width: 100%;
  height: 348px;
}
.upper_fotter {
  background-color: #373737;
  width: 1500px;
  height: 348px;
  position: relative;
}
.lower_fotter {
  background-color: #333333;
  width: 1500px;
  height: 47px;
  position: relative;
}
.copywrite {
  height: 16px;
  width: 500px;
  position: absolute;
  top: 20px;
  left: 170px;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #dad9d9;
  font-size: 12px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 21.6px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.fotter_social {
  height: 16px;
  width: 112px;
  position: absolute;
  top: 20px;
  left: 1135px;
}
.fotter_social a {
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  background-image: url(img/sprite_soc_2.png);
}
.fotter_soc_img_1 {
  background-position: 0px -4px;
}
.fotter_soc_img_2 {
  background-position: -25px -4px;
}
.fotter_soc_img_3 {
  background-position: -54px -4px;
}
.fotter_soc_img_4 {
  background-position: -83px -4px;
}
.fotter_soc_img_5 {
  background-position: -111px -4px;
}
.fotter_soc_img_6 {
  background-position: -139px -4px;
}
.fotter_soc_img_7 {
  background-position: -168px -4px;
}
.fotter_column_1,
.fotter_column_2,
.fotter_column_3,
.fotter_column_4,
.fotter_column_5 {
  font-family: Raleway;
  color: #ffffff;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: left;
}
.fotter_column_1 {
  height: 17px;
  width: 80px;
  position: absolute;
  top: 75px;
  left: 192px;
}
.fotter_column_2 {
  height: 17px;
  width: 109px;
  position: absolute;
  top: 75px;
  left: 392px;
}
.fotter_column_3 {
  height: 17px;
  width: 106px;
  position: absolute;
  top: 75px;
  left: 590px;
}
.fotter_column_4 {
  height: 17px;
  width: 80px;
  position: absolute;
  top: 75px;
  left: 775px;
}
.fotter_column_5 {
  height: 17px;
  width: 80px;
  position: absolute;
  top: 75px;
  left: 1077px;
}
.fotter_list_1,
.fotter_list_2,
.fotter_list_3 {
  font-family: Roboto;
  color: #ffffff;
  font-size: 12px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 18px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  list-style-type: none;
  text-decoration: none;
}
.fotter_list_1 li a:visited,
.fotter_list_2 li a:visited,
.fotter_list_3 li a:visited {
  color: #ffffff;
  text-decoration: none;
}
.fotter_list_1 {
  height: 117px;
  width: 84px;
  position: absolute;
  top: 120px;
  left: 192px;
}
.fotter_list_2 {
  height: 117px;
  width: 113px;
  position: absolute;
  top: 120px;
  left: 390px;
}
.fotter_list_3 {
  height: 117px;
  width: 94px;
  position: absolute;
  top: 120px;
  left: 590px;
}
.fotter_list_3 {
  height: 117px;
  width: 94px;
  position: absolute;
  top: 120px;
  left: 590px;
}
.fotter_text_5,
.fotter_text_4 {
  height: 85px;
  width: 232px;
  position: absolute;
  top: 97px;
  left: 1077px;
  font-family: Roboto;
  color: #ffffff;
  font-size: 12px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 12px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.fotter_text_4 {
  height: 22px;
  width: 195px;
  position: absolute;
  top: 97px;
  left: 771px;
}
.fotter_insert {
  display: inline-block;
  height: 30px;
  width: 250px;
  position: absolute;
  top: 140px;
  left: 773px;
}
.fotter_insert_1 {
  height: 30px;
  width: 180px;
  float: left;
}
.fotter_insert_1 input {
  background-color: #fff51f;
  display: inline-block;
  height: 30px;
  width: 180px;
  border: 0px;
  font-family: Roboto;
  color: #333333;
  font-size: 12px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 21px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  padding-left: 21px;
}
.fotter_insert_2 {
  height: 30px;
  width: 70px;
  overflow: hidden;
}
.fotter_insert_2 input {
  background-color: #000000;
  display: inline-block;
  height: 30px;
  width: 70px;
  border: 0px;
  font-family: Roboto;
  color: #ffffff;
  font-size: 12px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 21px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
}
.fotter_cards_img {
  height: 19px;
  width: 277px;
  position: absolute;
  top: 215px;
  left: 764px;
}
.fotter_cards_img a {
  display: inline-block;
  height: 19px;
  width: 34px;
  padding: 0px;
  margin-left: 7px;
  border: 1px solid white;
  background-image: url(img/sprite_cards.png);
}
.fotter_cards_img a:first-child {
  margin-left: 0px;
}
.fotter_cards_img_1 {
  background-position: -3px -4px;
}
.fotter_cards_img_2 {
  background-position: -48px -4px;
}
.fotter_cards_img_3 {
  background-position: -94px -4px;
}
.fotter_cards_img_4 {
  background-position: -141px -4px;
}
.fotter_cards_img_5 {
  background-position: -187px -4px;
}
.fotter_cards_img_6 {
  background-position: -233px -4px;
}
.fotter_phone_1,
.fotter_phone_2,
.fotter_email_1,
.fotter_email_2 {
  font-family: Roboto;
  color: #ffffff;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 23.4px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.fotter_phone_1 {
  height: 11px;
  width: 42px;
  position: absolute;
  top: 196px;
  left: 1077px;
}
.fotter_phone_2 {
  height: 11px;
  width: 99px;
  position: absolute;
  top: 196px;
  left: 1137px;
}
.fotter_email_1 {
  height: 11px;
  width: 42px;
  position: absolute;
  top: 222px;
  left: 1077px;
}
.fotter_email_2 {
  height: 11px;
  width: 131px;
  position: absolute;
  top: 222px;
  left: 1137px;
  color: #faef03;
}
